<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Blog yuliani </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Yuliani</h1></a>
            <p>A little description</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>
    <div class="not-found content">
        Page not found
    </div>
</body>
</html>